@import-normalize;
@font-face {
  font-family: "Metropolis";
  src: url("./fonts/Metropolis-Regular.otf") format("otf"),
    url("./fonts/Metropolis-Medium.otf") format("otf");
    font-weight: var(--fw-regular);
}

:root {
  /* Typography */
  --family: "Metropolis", sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;

  /* Color */
  --color-bg: black;
  --color-bg-card: #242731;
  --color-bg-base: #191c23;
  --color-bg-active: #8941ff;
  --color-primary: #ffffff;
  --color-secondary: rgba(255, 255, 255, 0.6);
  --color-icon-base: #7D869E;
  --color-icon-active: #FFFFFF;

  --vh: 1080px;

}

body {
  margin: 0;
  font-family: var(--family);
  color: var(--color-primary);
  font-weight: var(--fw-regular);
  background-color: var(--color-bg);
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

p{
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}


